/* GLOBAL */
body{
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 30px;
}
ul{
  list-style: none;
}
ul li{
  display: inline;
}
._mb_20{
  margin-bottom: 20px;
}
._v_middle{
  vertical-align: middle;
}
.blue-text{
  color: #006aff;
}
._white_text{
  color: #fff;
}
._bg_white{
  background-color: #fff;
}
._bg_blue{
  background-color: #579aff;
}
._p20{
  padding: 20px;
}
.fw500{
  font-weight: 500;
}
.fw700{
  font-weight: 700;
}

/* NAVBAR */
nav{
  position: fixed;
  top:0;
  background-color: #fff;
  width: 100%;
  z-index: 999; 
  
}
nav .row{
  margin-top: 20px;
}
nav .row li{
  line-height: 34px;
  margin-right: 20px;
}
nav .row li a{
  color: black;
  text-decoration: none;
  font-weight: 500;
}
nav .row li a.btn._btn_nav{
  border: 1px solid #006aff;
  color: #006aff;
}
.logo img{
  height: 25px;
}
._btn_nav{
  background-color: transparent;
  border: none;
}
._btn_nav:focus{
  outline: none;
}
/* /NAVBAR */

.debug{
  background-color: rgba(109, 10, 10, 0.3);
  border: 1px solid black;
}
.debug [class*="col-"]{
  min-height: 50px;
  margin-bottom: 10px;
}

/* JUMBOTRON */
._my_jumbotron{
  margin-top: 65px;
  margin-bottom: 0;
  background-image: url(../img/bg-banner-home.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
._my_jumbotron p{
  color: #bbcbfd;
}
._my_jumbotron h3{
  font-weight: 700;
}
._my_jumbotron h3:last-child{
  margin-top: 0;
}
._login_box{
  border-radius: 10px;
}
._login_box input{
  margin-bottom: 10px;
}
._login_box input.form-control{
  height: 45px;
  padding: 5px;
}
._login_box input::placeholder{
  font-weight: 500;
}
._login_btn{
width: 100%;
}
._login_btn._bg_blue._disabled:hover{
  color:#fff;
}
._login_btn._bg_white{
  box-shadow: 1px 1px 2px lightgray;
  color: gray;
  font-weight: 700;
}
._terms{
  text-decoration: underline;
}
._terms:hover{
  color: #006aff;
}

/* /JUMBOTRON */
.sponsor, .designed, .development{
  background-color: aquamarine;
}
.deploy, .services, footer{
  background-color:salmon;
}

